altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
distro
filelock
fsspec
gitdb
GitPython
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain-core
langchain-openai
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
markdown-it-py
MarkupSafe
mdurl
mmh3
mpmath
narwhals
networkx
nltk
numpy
openai
orjson
ormsgpack
packaging
pandas
pillow
pinecone
pinecone-client
pinecone-plugin-assistant
pinecone-plugin-interface
pinecone-text[splade]
protobuf
pyarrow
pydantic
pydantic_core
beautifulsoup4
youtube-transcript-api
pydeck
Pygments
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
six
smmap
sniffio
streamlit
sympy
tenacity
tiktoken
tokenizers
toml
torch
torchvision
tornado
tqdm
transformers
types-requests
typing-inspection
typing_extensions
tzdata
urllib3
uuid_utils
xxhash
zstandard
duckduckgo-search
python-docx
reportlab

